<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="connStrs" connectionString="Server=localhost; Database=gddw; uid=root; pwd=123456; pooling=false; Charset=utf8; port=3306"/>
    </connectionStrings>
</configuration>